@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
    margin: 0;
}

@font-face {
  font-family: 'Relative-book';
  src: url('font/relative-book.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Relative-mono';
  src: url('font/relative-mono10pitch.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Relative-bold';
  src: url('font/relative-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}
